.menu {
  padding: 80px 20px;
  background-color: #f9f9f9;
  text-align: center;
}

.menu-title {
  font-size: 32px;
  margin-bottom: 40px;
}

.menu-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.menu-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.menu-card h3 {
  margin-bottom: 10px;
}

.price {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  color: #e67e22;
body{
    margin: 0;
    padding: 0;
}

.Hero-section{
    height: 80vh;
    width: 100%;
    position: relative;
    background-image: url(./assets/bg-section.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
      border-bottom-left-radius: 20px;  
    border-bottom-right-radius: 20px; 
    text-transform: capitalize;

}
.Hero-section p{
    font-size: 19px;
}

.Hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5); 
    z-index: 1;
}


.Hero-title{
    width: 40%;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    text-align: center;
    color: white; 
}


.Hero-title span{
    display: block;
    color: orange;
}
button:hover{
    transform: scale(.98);
    -webkit-transform: scale(.98);
    -moz-transform: scale(.98);
    -ms-transform: scale(.98);
    -o-transform: scale(.98);
}
button#order-action{
    margin:  10px;
    padding: 10px 20px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    background-color: orange;
    color: white;
    box-shadow: none;
    outline: none;
    border: none;
    font-size: 19px;
    text-transform: capitalize;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
button#view-action{
     margin:  10px;
    padding: 10px 20px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    background-color: transparent;
    color: white;
    box-shadow: none;
    outline: none;
    border: 1px solid white;
    font-size: 19px;
    text-transform: capitalize;
        transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
@media (max-width:767px){
    .Hero-title{
        width: 80%;
    }

}